<a href="https://colab.research.google.com/github/zum-m/DEC-all-issues/blob/main/analytics_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0.ãƒ‡ãƒ¼ã‚¿ã®å–ã‚Šè¾¼ã¿

In [1]:
# ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã‚’ã‚¤ãƒ³ãƒãƒ¼ãƒˆ
import os
import pandas as pd
from pandas import DataFrame
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## 0-0.inportã®èª¬æ˜



```
# import os

```


ã“ã‚Œã¯OSãƒ©ã‚¤ãƒ–ãƒ©ãƒªã‚’ã‚¤ãƒ³ãƒãƒ¼ãƒˆã™ã‚‹ã‚³ãƒãƒ³ãƒ‰ã§ã™ã€‚
OSãƒ©ã‚¤ãƒ–ãƒ©ãƒªã«ã‚ˆã£ã¦OSã«ä¾å­˜ã—ã¦ã„ã‚‹ã•ã¾ã–ã¾ãªæ©Ÿèƒ½ã‚’åˆ©ç”¨ã§ãã¾ã™ã€‚
ä¸»ã«ãƒ•ã‚¡ã‚¤ãƒ«ã‚„ãƒ‡ã‚£ãƒ¬ã‚¯ãƒˆãƒªæ“ä½œãŒå¯èƒ½ã§ã€ãƒ•ã‚¡ã‚¤ãƒ«ã®ä¸€è¦§ã‚„pathã‚’å–å¾—ã§ããŸã‚Šã€æ–°è¦ã«ãƒ•ã‚¡ã‚¤ãƒ«ãƒ»ãƒ‡ã‚£ãƒ¬ã‚¯ãƒˆãƒªã‚’ä½œæˆã§ãã¾ã™ã€‚
å¾Œã»ã©èª¬æ˜ã—ã¾ã™ãŒã€å–ã‚Šè¾¼ã‚€å¯¾è±¡ã§ã‚ã‚‹ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã®ä¿å­˜å…ˆãƒ•ã‚¡ã‚¤ãƒ«ã®ãƒ‘ã‚¹ã‚’æŒ‡å®šã™ã‚‹éš›ã«ã€OSãƒ©ã‚¤ãƒ–ãƒ©ãƒªã‚’æ´»ç”¨ã—ã¾ã™ã€‚


```
# import pandas as pd

```

ã“ã‚Œã¯Pandasãƒ©ã‚¤ãƒ–ãƒ©ãƒªã‚’ã‚¤ãƒ³ãƒãƒ¼ãƒˆã™ã‚‹ã‚³ãƒãƒ³ãƒ‰ã§ã™ã€‚
Pandasã‚’ä½¿ã†ã¨ã€ãƒ‡ãƒ¼ã‚¿ã®èª­ã¿è¾¼ã¿ã‚„æ¬ æå€¤ã®è£œå®Œã€æ­£è¦åŒ–ã€çµ±è¨ˆé‡ã®è¡¨ç¤ºã€ã‚°ãƒ©ãƒ•åŒ–ã¨ã„ã£ãŸãƒ‡ãƒ¼ã‚¿åˆ†æã«é–¢ã™ã‚‹ä½œæ¥­ã‚’ç°¡å˜ã«è¡Œã†ã“ã¨ãŒã§ãã‚‹ã‚ˆã†ã«ãªã‚Šã¾ã™ã€‚
ã¾ãŸas pdã¯ã‚¤ãƒ³ãƒãƒ¼ãƒˆã—ãŸPandasã‚’pdã¨åä»˜ã‘ã‚‹å‘½ä»¤æ–‡ã§ã™ã€‚ã“ã‚Œã«ã‚ˆã£ã¦Pandasã®ãƒ¡ã‚½ãƒƒãƒ‰ã‚’åˆ©ç”¨ã™ã‚‹éš›ã«pandas.ãƒ¡ã‚½ãƒƒãƒ‰åã¨ã‚¿ã‚¤ãƒ”ãƒ³ã‚°ãŒå¿…è¦ãªã¨ã“ã‚ã‚’pd.ãƒ¡ã‚½ãƒƒãƒ‰åã¨ã‚¿ã‚¤ãƒ”ãƒ³ã‚°ã™ã‚‹ã ã‘ã§OKã¨ãªã‚Šã¾ã™ã€‚



```
# from pandas import DataFrame

```

ã“ã‚Œã¯Pandasãƒ©ã‚¤ãƒ–ãƒ©ãƒªã®ä¸­ã§ã‚‚ä½¿ç”¨é »åº¦ãŒé«˜ã„DataFrameãƒ©ã‚¤ãƒ–ãƒ©ãƒªã‚’å€‹åˆ¥ã§ã‚¤ãƒ³ãƒãƒ¼ãƒˆã—ã¦ã„ã¾ã™ã€‚ã“ã‚Œã«ã‚ˆã£ã¦DataFrameã®ãƒ¡ã‚½ãƒƒãƒ‰ã‚’åˆ©ç”¨ã™ã‚‹éš›ã«pd.DataFrameã¨ã‚¿ã‚¤ãƒ”ãƒ³ã‚°ãŒå¿…è¦ãªã¨ã“ã‚ã‚’DataFrameã¨ã‚¿ã‚¤ãƒ”ãƒ³ã‚°ã™ã‚‹ã ã‘ã§OKã¨ãªã‚Šã¾ã™ã€‚


```
# import numpy as np
```
ã“ã‚Œã¯Numpyãƒ©ã‚¤ãƒ–ãƒ©ãƒªã‚’ã‚¤ãƒ³ãƒãƒ¼ãƒˆã™ã‚‹ã‚³ãƒãƒ³ãƒ‰ã§ã™ã€‚ãƒ‡ãƒ¼ã‚¿åˆ†æã®è¨ˆç®—ã¯è¤‡é›‘ã ã£ãŸã‚Šã€ãƒ‡ãƒ¼ã‚¿æ•°ãŒå¤§ãã„ã®ã§å¤§ããªè² è·ãŒã‹ã‹ã£ã¦ã—ã¾ã„ã¾ã™ã€‚Numpyã‚’ä½¿ã†ã¨ãã®è¨ˆç®—ãŒé«˜é€Ÿã«ãªã£ãŸã‚Šã€ã‚ˆã‚Šç°¡å˜ãªã‚³ãƒãƒ³ãƒ‰ã§è¨ˆç®—å‡¦ç†ã‚’å®Ÿè¡Œã§ãã¾ã™ã€‚


```
# import matplotlib.pyplot as plt
```
ã“ã‚Œã¯Matplotlibãƒ©ã‚¤ãƒ–ãƒ©ãƒªã®ä¸­ã®pyplotã‚’ã‚¤ãƒ³ãƒãƒ¼ãƒˆã—ã¦ã„ã¾ã™ã€‚Pyplotã«ã‚ˆã£ã¦ã‚°ãƒ©ãƒ•ã‚’ä½œã‚‹ãŸã‚ã®æ§˜ã€…ãªãƒ¡ã‚½ãƒƒãƒ‰ãŒåˆ©ç”¨ã§ãã¾ã™ã€‚


```
# import seaborn as sns
```
ã“ã‚Œã¯Seabornãƒ©ã‚¤ãƒ–ãƒ©ãƒªã‚’ã‚¤ãƒ³ãƒãƒ¼ãƒˆã™ã‚‹ã‚³ãƒãƒ³ãƒ‰ã§ã™ã€‚Seabornã¯ã‚°ãƒ©ãƒ•ã‚’ä½œã‚‹ãŸã‚ã®ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã§ã™ã€‚matplotlibã§ä½œã‚Œã‚‹ã‚°ãƒ©ãƒ•ã‚’æ›´ã«ã‹ã£ã“ã‚ˆãã—ã¦ãã‚Œã‚‹æ©Ÿèƒ½ã‚‚ã‚ã‚Šã¾ã™ã€‚matplotlibã¯ã‚«ã‚¹ã‚¿ãƒã‚¤ã‚ºæ€§ãŒé«˜ãã€Seabornã¯æ‰‹è»½ã«ä½œæˆã§ãã‚‹ã¨ã„ã†ãã‚Œãã‚Œã®ãƒ¡ãƒªãƒƒãƒˆãŒã‚ã‚Šã¾ã™ã€‚


```
# %matplotlib inline
```
Matplotlibã‚„Seabornã§ã‚°ãƒ©ãƒ•ã‚’ä½œæˆã™ã‚‹æ™‚ã€é€šå¸¸ã§ã™ã¨ç”»åƒãƒ•ã‚¡ã‚¤ãƒ«ãŒæŒ‡å®šã—ãŸãƒ•ã‚©ãƒ«ãƒ€ã«ä¿ç®¡ã•ã‚Œã¾ã™ã€‚%matplotlib inlineã‚’å®Ÿè¡Œã™ã‚‹ã“ã¨ã§ã€Google Colaboratoryå†…ã«è¡¨ç¤ºã•ã‚Œã¾ã™ã€‚
ï¼ˆã“ã®ã‚³ãƒãƒ³ãƒ‰ã ã‘ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã®ã‚¤ãƒ³ãƒãƒ¼ãƒˆã®å‡¦ç†ã§ã¯ã‚ã‚Šã¾ã›ã‚“ã€‚ï¼‰

ã“ã‚Œã‚‰ã®ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã¯æ©Ÿèƒ½ãŒéå¸¸ã«å¤šã„ã§ã™ã€‚ã™ã¹ã¦ç†è§£ã™ã‚‹ã®ã¯é›£ã—ãã€æœ€åˆã¯ãã†ã„ã†ã‚‚ã®ãŒã‚ã‚‹ã‚“ã ãªãã¨ã„ã†ç¨‹åº¦ã®ç†è§£åº¦ã§æ§‹ã„ã¾ã›ã‚“ã€‚

## 1-1ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã®å–å¾—

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### ãƒ‡ãƒ¼ã‚¿ã‚»ãƒƒãƒˆã®èª¬æ˜

[Kickstarter Projects](https://www.kaggle.com/kemical/kickstarter-projects)ã‚ˆã‚Š

**ã‚³ãƒ³ãƒ†ã‚¯ã‚¹ãƒˆ** 

ç§ã¯ã‚¯ãƒ©ã‚¦ãƒ‰ãƒ•ã‚¡ãƒ³ãƒ‡ã‚£ãƒ³ã‚°ã®æ„›å¥½å®¶ã§ã€åˆæœŸã®é ƒã‹ã‚‰ã‚­ãƒƒã‚¯ã‚¹ã‚¿ãƒ¼ã‚¿ãƒ¼ã‚’è¦‹ã¦ã„ã¾ã—ãŸã€‚ä»Šã¯ãŸã ãƒ‡ãƒ¼ã‚¿ã‚’é›†ã‚ã¦ã„ã‚‹ã ã‘ã§ã€ä½œã£ãŸã‚¢ãƒ—ãƒªã¯ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆãŒãƒã‚¤ãƒ«ã‚¹ãƒˆãƒ¼ãƒ³ã«åˆ°é”ã—ãŸã¨ãã«ãƒ„ã‚¤ãƒ¼ãƒˆã™ã‚‹ãƒ„ã‚¤ãƒƒã‚¿ãƒ¼ãƒœãƒƒãƒˆã ã‘ã§ã™ã€‚@bloomwatcher ã§ã™ã€‚ä»–ã«ã‚‚ãŸãã•ã‚“ã®ã‚¢ã‚¤ãƒ‡ã‚¢ãŒã‚ã‚Šã¾ã™ãŒã€æ®‹å¿µãªãŒã‚‰é–‹ç™ºã™ã‚‹ã«ã¯æ™‚é–“ãŒè¶³ã‚Šã¾ã›ã‚“...ã§ã‚‚ã€ã‚ãªãŸãªã‚‰ã§ãã‚‹ã¯ãšã§ã™ 

**ã‚³ãƒ³ãƒ†ãƒ³ãƒ„** 

ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆã®åˆ†æã«æœ€ã‚‚å½¹ç«‹ã¤ãƒ‡ãƒ¼ã‚¿ã‚’è¦‹ã‚‹ã“ã¨ãŒã§ãã¾ã™ã€‚ã‚³ãƒ©ãƒ ã®å†…å®¹ã¯ä»¥ä¸‹ã®é€šã‚Šã§ã™ã€‚

 usd_pledged:ãƒ—ãƒ¬ãƒƒãƒ‰æ•°ã®ç±³ãƒ‰ãƒ«æ›ç®—å€¤ï¼ˆkickstarterã§å¤‰æ›ã•ã‚Œã¾ã™ï¼‰ã€‚ 
 
 usd pledge real: ãƒ—ãƒ¬ãƒƒã‚¸æ¬„ã®ç±³ãƒ‰ãƒ«æ›ç®—å€¤(Fixer.io APIã«ã‚ˆã‚‹æ›ç®—å€¤) 
 
 usd goal real: ç›®æ¨™æ¬„ã®ç±³ãƒ‰ãƒ«ã§ã®æ›ç®—å€¤(Fixer.io APIã‹ã‚‰ã®æ›ç®—å€¤)


**è¬è¾**

 ãƒ‡ãƒ¼ã‚¿ã¯Kickstarterã®ãƒ—ãƒ©ãƒƒãƒˆãƒ•ã‚©ãƒ¼ãƒ ã‹ã‚‰åé›†ã—ã¦ã„ã¾ã™ã€‚ ç±³ãƒ‰ãƒ«ã¸ã®æ›ç®—ï¼ˆusdpledgedrealåˆ—ã¨usdgoalrealåˆ—ï¼‰ã¯ã€tonyplaysguitaræ°ã«ã‚ˆã‚‹ã€ŒConvert ks pledges to usdã€ã‚¹ã‚¯ãƒªãƒ—ãƒˆã‹ã‚‰ç”Ÿæˆã•ã‚Œã¾ã—ãŸã€‚

 

ç´ æ™´ã‚‰ã—ã„ã‚¤ãƒ³ã‚¹ãƒ”ãƒ¬ãƒ¼ã‚·ãƒ§ãƒ³ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆã‚’æœŸå¾…ã—ã¦ã„ã¾ã™ã€‚
ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆãŒæˆåŠŸã™ã‚‹ã‹ã©ã†ã‹ã‚’ãƒªãƒªãƒ¼ã‚¹å‰ã«äºˆæ¸¬ã™ã‚‹ãƒ¢ãƒ‡ãƒ«ãŒã‚ã£ã¦ã‚‚ã„ã„ã®ã§ã¯ãªã„ã§ã—ã‚‡ã†ã‹ï¼Ÿï¼‰""

## 1-2.ãƒ‘ã‚¹ã®æŒ‡å®š

In [ ]:
os.chdir('/content/drive/Shareddrives/dec_phase03/02_assignment/23_ä¸‰æµ¦ä¸€çœ/00mydataset/archive')

## 1-3.ãƒ‡ãƒ¼ã‚¿ã®å–ã‚Šè¾¼ã¿

### ãƒ‡ãƒ¼ã‚¿ã®æ¦‚è¦ã¨è§£èª¬

In [ ]:
df = pd.read_csv('ks-projects-201801.csv')
df

                ID  ... usd_goal_real
0       1000002330  ...       1533.95
1       1000003930  ...      30000.00
2       1000004038  ...      45000.00
3       1000007540  ...       5000.00
4       1000011046  ...      19500.00
...            ...  ...           ...
378656   999976400  ...      50000.00
378657   999977640  ...       1500.00
378658   999986353  ...      15000.00
378659   999987933  ...      15000.00
378660   999988282  ...       2000.00

[378661 rows x 15 columns]

In [ ]:
df.head()

In [ ]:
df.describe()

                 ID          goal  ...  usd_pledged_real  usd_goal_real
count  3.786610e+05  3.786610e+05  ...      3.786610e+05   3.786610e+05
mean   1.074731e+09  4.908079e+04  ...      9.058924e+03   4.545440e+04
std    6.190862e+08  1.183391e+06  ...      9.097334e+04   1.152950e+06
min    5.971000e+03  1.000000e-02  ...      0.000000e+00   1.000000e-02
25%    5.382635e+08  2.000000e+03  ...      3.100000e+01   2.000000e+03
50%    1.075276e+09  5.200000e+03  ...      6.243300e+02   5.500000e+03
75%    1.610149e+09  1.600000e+04  ...      4.050000e+03   1.550000e+04
max    2.147476e+09  1.000000e+08  ...      2.033899e+07   1.663614e+08

[8 rows x 7 columns]


**è§£èª¬**

å„åˆ—ã®ãƒ‡ãƒ¼ã‚¿æ•°ã‚„å¹³å‡ã€æ¨™æº–åå·®ã€æœ€å°å€¤ã€ä¸­å¤®å€¤ã€æœ€é«˜å€¤ã¨ã‹ã‚’è¦‹ãŸã„ã¨ãã¯ã€ä¸Šè¨˜ã‚³ãƒãƒ³ãƒ‰ã‚’å®Ÿè¡Œ

* countï¼šãã®åˆ—ã®ãƒ‡ãƒ¼ã‚¿æ•°
* meanï¼šãã®åˆ—ã®å¹³å‡å€¤
* stdï¼šãã®åˆ—ã®æ¨™æº–åå·®
* minï¼šãã®åˆ—ã®æœ€å°å€¤
* 25%ï¼šãã®åˆ—ã®æœ€å°å€¤ã‹ã‚‰ã‚«ã‚¦ãƒ³ãƒˆã—ã¦25%ç•ªç›®ã«å°ã•ã„ãƒ‡ãƒ¼ã‚¿ã®å€¤(çµ±è¨ˆç”¨èªã§ã¯ç¬¬1å››åˆ†ä½æ•°ã¨å‘¼ã°ã‚Œã¾ã™)
* 50%ï¼šãã®åˆ—ã®æœ€å°å€¤ã‹ã‚‰ã‚«ã‚¦ãƒ³ãƒˆã—ã¦50%ç•ªç›®ã«å°ã•ã„ãƒ‡ãƒ¼ã‚¿ã®å€¤(çµ±è¨ˆç”¨èªã§ã¯ä¸­å¤®å€¤ã¨å‘¼ã°ã‚Œã¾ã™)
* 75%ï¼šãã®åˆ—ã®æœ€å°å€¤ã‹ã‚‰ã‚«ã‚¦ãƒ³ãƒˆã—ã¦75%ç•ªç›®ã«å°ã•ã„ãƒ‡ãƒ¼ã‚¿ã®å€¤(çµ±è¨ˆç”¨èªã§ã¯ç¬¬3å››åˆ†ä½æ•°ã¨å‘¼ã°ã‚Œã¾ã™)
* maxï¼šãã®åˆ—ã®æœ€å¤§å€¤

â€»e+nã¨ã„ã£ãŸã‚‚ã®ã¯ã€10ã®nä¹—ã‚’æ„å‘³ã—ã¦ã„ã¾ã™ã€‚ä¾‹ãˆã°3.786610e+05ã¯378661ã‚’æ„å‘³ã—ã¦ã„ã¾ã™ã€‚

In [ ]:
df.shape

378661è¡Œ

ï¼‘ï¼•åˆ—

ã®æƒ…å ±ã«ãªã£ã¦ã„ã‚‹

# 1(2-2-1).ã‚«ãƒ©ãƒ åã‚’ç†è§£ã™ã‚‹

In [ ]:
df.info()

In [ ]:
df.head()

## 1-(1~6).ãƒ†ãƒ¼ãƒ–ãƒ«å®šç¾©æƒ…å ±ã®ç¢ºèª
â€»è¬›ç¾©ã®è§£èª¬ã«æ²¿ã£ã¦ç†è§£ã‚’ã—ã¾ã—ãŸã€‚

**å‰æ**

â€»ã¡ã‚‡ã£ã¨å¤ã„ãƒ‡ãƒ¼ã‚¿ã‹ã‚‚ã€‚ğŸŸ¡å®Ÿéš›ã«ç¾åœ¨ã®ã‚µã‚¤ãƒˆã‚’è¦‹ãŸå°è±¡ã¨ã ã„ã¶é•ã†ã‹ã‚‚

**ç›®æ¨™**

TEXTå‚è€ƒ é …ç›®(åˆ—)ã®æ„å‘³ã‚’ç†è§£ã™ã‚‹

|ç‰©ç†å(ã‚«ãƒ©ãƒ å)	|è«–ç†å|èª¬æ˜|
|:--|:--|:--|
|ID| åˆ©ç”¨è€…ID?| KICKSTARTERä¸Šã§ç®¡ç†ã™ã‚‹ãŸã‚ã®ç•ªå·|
|name| ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆå| |
|category |	è©³ç´°åˆ†é¡ã€€|ç¬¬2ã‚«ãƒ†ã‚´ãƒªãƒ¼(ä¸‹è¨˜main_categoryã§åˆ†ã‘ã‚‰ã‚ŒãŸåˆ†é¡ã‚’ã•ã‚‰ã«ç´°åˆ†åŒ–ã™ã‚‹ãŸã‚ã®ã‚«ãƒ†ã‚´ãƒªãƒ¼)|
|main_category|	åˆ†é¡ | ç¬¬1ã‚«ãƒ†ã‚´ãƒªãƒ¼|
|currency | é€šéç¨®	|å‹Ÿé›†ã—ãŸé€šè²¨ã®å˜ä½|
|deadline| æ”¯æ´ç· åˆ‡	|æ”¯æ´é‡‘ã®å…¬å‹ŸæœŸé–“ã®ç· åˆ‡æ—¥|
|goal	| ç›®æ¨™é‡‘é¡ã€€|ç›®æ¨™å…¬å‹Ÿé‡‘é¡|
|launched | å…¬é–‹æ—¥ | é–‹å§‹ã•ã‚ŒãŸæ—¥æ™‚ |
|pledged |ã€€æ”¯æ´é‡‘é¡	|å…¬å‹Ÿã•ã‚ŒãŸé‡‘é¡|
|state | é”æˆçŠ¶æ³	|ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆã®è³‡é‡‘èª¿é”ãŒç›®æ¨™é¡ã«åˆ°é”ã—ãŸã‹ã©ã†ã‹ã®æˆåŠŸå¯å¦|
|backers|	æ”¯æ´è€…æ•°|ã€€|
|country|ã€€å›½	| ã©ã®å›½ã®ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆã‹ã€€è¡¨è¨˜ã¯US GBãªã©ã§ã‚«ãƒ†ã‚´ãƒª|
|usd pledged| ãƒ‰ãƒ«å¤‰æ›æ”¯æ´é‡‘é¡(kickstarter)	|KICKSTARTERé‹å–¶å´ãŒãƒ‰ãƒ«æ›ç®—ã—ãŸã€å…¬å‹Ÿã•ã‚ŒãŸé‡‘é¡|
|usd_pledged_real |ã€€ãƒ‰ãƒ«å¤‰æ›æ”¯æ´é‡‘é¡(Fixer.io)	| Fixer.io APIã‚’åˆ©ç”¨ã—ã¦ãƒ‰ãƒ«æ›ç®—ã—ãŸã€å…¬å‹Ÿã•ã‚ŒãŸé‡‘é¡|
|usd_goal_real | ãƒ‰ãƒ«å¤‰æ›ç›®æ¨™é‡‘é¡	|Fixer.io APIã‚’åˆ©ç”¨ã—ã¦ãƒ‰ãƒ«æ›ç®—ã—ãŸã€ç›®æ¨™å…¬å‹Ÿé‡‘é¡|

---

In [ ]:
# 1-2 å¤§ãã•ç¢ºèª
df.shape

(378661, 15)

---

In [ ]:
# ï¼‘âˆ’3.ãƒ‡ãƒ¼ã‚¿å‹ç¢ºèª
df.info()
# print("ã¾ãŸã¯=======")
# df.dtypes

# ğŸŸ¡ç¢ºèªã—ãŸå¾Œã©ã†ã™ã‚‹ï¼Ÿï¼Ÿ
# ã‚³ãƒ³ãƒ”ãƒ¥ãƒ¼ã‚¿ãŒå‹æ‰‹ã«ç†è§£ã™ã‚‹éƒ¨åˆ†ã®ç™–ã‚’æŠŠæ¡ã€‚â‡¨idãŒè¨ˆç®—å¯èƒ½ãªintã«ãªã£ã¦ãªã„ã‹ï¼Ÿãªã©
# objectã¯ï¼ˆï¼‘âˆ’ï¼”.ï¼–ã¸é€²ã‚€ï¼‰ã‚«ãƒ†ã‚´ãƒªè»½ãƒ‡ãƒ¼ã‚¿ã¨ã—ã¦ã€ãƒ¦ãƒ‹ãƒ¼ã‚¯å€¤ã‚’ç¢ºèª

---

In [ ]:
# ï¼‘âˆ’ï¼”,6ã€€å€‹æ•°ã‚’é›†è¨ˆã€€ã€€objectã‚’ç¢ºèª
# ğŸŸ¡ ä½•ã®ãŸã‚ã«ï¼Ÿï¼Ÿ ï¼”ã¨ï¼–ã®é•ã„ã¯ï¼Ÿï¼Ÿ

df['name'].value_counts()

KeyError: ignored

In [ ]:
# df['category'].value_counts()

In [ ]:
# df['main_category'].value_counts()

In [ ]:
# df['currency'].value_counts()

In [ ]:
df['deadline'].value_counts()

NameError: ignored

In [ ]:
# df['launched'].value_counts()

In [ ]:
# df['state'].value_counts()

In [ ]:
df['country'].value_counts()

**ã‚ã‹ã£ãŸã“ã¨**

**1nameã«ã¤ã„ã¦**

> ğŸŸ¦375764/378661ã¨ã»ã¼ä¸€æ„ã®nameã¨ãªã£ã¦ã„ã‚‹ã€‚ğŸŸ¡åå‰ãŒãƒ€ãƒ–ã£ã¦ã„ã‚‹ã®ã¯ã©ã‚“ãªã‚‚ã®ãªã®ã‹ï¼ŸğŸŸ¡objectã‹ã‚‰strã«å¤‰ãˆã‚‹ã¹ãï¼Ÿ

2.**category**

> ğŸŸ¦lengthãŒï¼‘ï¼•ï¼™ã€‚ğŸŸ¡main_categoryã‹ã‚‰ã®éšå±¤ãŒã‚ã‚‹ã‹ã‚¿ãƒã«ã¯ã§ããªã„ã‹ï¼Ÿ

ï¼“.**main_category**

> ğŸŸ¦ï¼‘ï¼•å€‹ã«ã‚«ãƒ†ã‚´ãƒ©ã‚¤ã‚ºã•ã‚Œã¦ã„ã‚‹

4.**currency**

> ğŸŸ¦ï¼‘ï¼•å€‹ã«ã‚«ãƒ†ã‚´ãƒ©ã‚¤ã‚º

5.**deadline**

> ğŸŸ¦length3164ã€€æ—¥ä»˜ã¾ã§ã®ãƒ‡ãƒ¼ã‚¿ğŸŸ¦æœŸé™ã®è¨­å®šã®ä¸Šä½ï¼“ã¤ãŒ8æœˆã€‚ã‚¿ã‚¤ãƒŸãƒ³ã‚°ã‹ã‚‰ã®æ¨æ¸¬ã§ããã†ã€‚ãªã‚“ã®ã‚¿ã‚¤ãƒŸãƒ³ã‚°ã‹ï¼Ÿï¼‘ã€æˆåŠŸã—ã‚„ã™ã„ã‚¿ã‚¤ãƒŸãƒ³ã‚°ï¼’ã€æœŸé™ã®è¨­å®šãŒé‡ãªã‚Šã‚„ã™ã„æ™‚æœŸã€ç››ã‚Šä¸ŠãŒã‚‹ã‚¿ã‚¤ãƒŸãƒ³ã‚°ï¼Ÿ
â€»kickstarteræœ¬æ¥ã®ä»•æ§˜ã®å¯èƒ½æ€§ã‚ã‚Šï¼Ÿ

7.**launched**
>ğŸŸ¦378089 ãƒ‡ãƒƒãƒ‰ãƒ©ã‚¤ãƒ³ã«æ¯”ã¹å§‹ã‚ã‚‹æ™‚æœŸã¯ãƒãƒ©ãƒãƒ©ï¼Ÿ

9.**state**    

|cate|int|
|:--|:--|
|failed |       197719|
|successful|    133956|
|canceled   |    38779|
|undefined   |    3562|
|live         |   2799|
|suspended     |  1846|

> ã‚­ãƒ£ãƒ³ã‚»ãƒ«å¤šã„ã€€ã€€ã€€undefinedã¨ã¯ï¼Ÿ ã€€ã€€åœæ­¢ä¸­ã‚‚ã‚ã‚‹ã€‚ãã®ç†ç”±ã«ã‚¹ãƒˆãƒ¼ãƒªãƒ¼ã¯ã‚ã‚‹ã‹ï¼Ÿ

11.**country**
> length23 æ—¥æœ¬å°‘ãªã„ã®æ®‹å¿µ.ã€‚ã¨ã„ã†ã‹ã“ã‚Œã¯æ—¥æœ¬ã®ã ã‘ã˜ã‚ƒãªã„ã®ã‹ã€‚â€»ã¡ã‚‡ã£ã¨å¤ã„ãƒ‡ãƒ¼ã‚¿ã‹ã‚‚ã€‚ğŸŸ¡å®Ÿéš›ã«ç¾åœ¨ã®ã‚µã‚¤ãƒˆã‚’è¦‹ãŸå°è±¡ã¨ã ã„ã¶é•ã†ã‹ã‚‚

ä¸€ã¤ä¸€ã¤è¦‹ã¦ã„ã£ãŸã‘ã©ã»ã»ã‹ã®æ–¹æ³•ãªã„ã‹ï¼Ÿï¼Ÿä¸€æ°—ã«æƒ…å ±è¦‹ã‚Œãªã„ã‹ï¼Ÿ
set_option??


----

In [ ]:
# 5 æ¬ æçŸ¥æœ‰ç„¡

df.isnull().sum()

ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64


```
nameã¨uds pledgedã§æ¬ æã‚ã‚Šã€‚

ğŸŸ¦nameã®æ¬ æã¯ï¼”ä»¶ã¨å°‘ãªã„ãŸã‚æ¶ˆã—ã¦ã‚‚ã„ã„ã‹ã‚‚

nameã¯objectã§ä¸ãˆã‚‰ã‚Œã¦ãŠã‚Šã€ã„ãã¤ã‹é‡ãªã£ã¦ã„ã‚‹ã‚‚ã®ãŒã‚ã‚‹ã€‚ã“ã‚Œã¨ä¼¼ãŸã‚ˆã†ãªã‚‚ã®ã‹ï¼Ÿ

é‡ãªã£ã¦ã„ã‚‹nameã«ã¤ã„ã¦ã¯ã€ã¨ã‚Šã‚ãˆãšã‚ã’ã¦ã¿ãŸã€‚ã£ã¦æ„Ÿã˜ã§é”æˆã«ã¯çµã³ã¤ã„ã¦ãªã„ã‚¹ãƒˆãƒ¼ãƒªãƒ¼ãŒã‚ã‚Šãã†ã€‚

usd pledgedã¯ãƒ‰ãƒ«å¤‰æ›ã‚’ç‹¬è‡ªã§ã‚„ã£ã¦ã‚‹ã‚‚ã®ã€‚ã»ã¨ã‚“ã©ãŒAPIã«ä»»ã›ã¦å¤‰æ›ã—ãŸå€¤ã¯æ¬ æå€¤ãªã—ã€‚

ç‹¬è‡ªã§å¤‰æ›ã—ã¦ã‚‹ã®ã¯ï¼“ï¼—ï¼™ï¼—ä»¶ã‚ã‚‹ãŒã€ã“ã‚Œã¯ä¿®æ­£ã—ãŸãƒ‡ãƒ¼ã‚¿ã‹ï¼Ÿ
ğŸŸ¡ãªãœç‹¬è‡ªã§å¤‰æ›ã—ãŸãƒ‡ãƒ¼ã‚¿ãŒå¿…è¦ãªã®ã‹ï¼Ÿ

```

----

In [ ]:
# 6 ãƒ¦ãƒ‹ãƒ¼ã‚¯å€¤

## 1-7.ãƒ†ãƒ¼ãƒ–ãƒ«å®šç¾©æƒ…å ±ã®ã‚¢ãƒƒãƒ—ãƒ‡ãƒ¼ãƒˆ

In [ ]:
df.info()

|ç‰©ç†å(ã‚«ãƒ©ãƒ å)	|è«–ç†å|ãƒ¦ãƒ‹ãƒ¼ã‚¯å€¤(ã‚«ãƒ†ã‚´ãƒ©ã‚¤ã‚º)|ãƒ‡ãƒ¼ã‚¿å‹|æ¬ æ|èª¬æ˜|
|:--|:--|:--|:--|:--|:--|
|ID|åˆ©ç”¨è€…ID?||int64||KICKSTARTERä¸Šã§ç®¡ç†ã™ã‚‹ãŸã‚ã®ç•ªå·|
|name|ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆå|len375764|object|4||
|category|è©³ç´°åˆ†é¡|len159|object|0|ç¬¬2ã‚«ãƒ†ã‚´ãƒªãƒ¼(ä¸‹è¨˜main_categoryã§åˆ†ã‘ã‚‰ã‚ŒãŸåˆ†é¡ã‚’ã•ã‚‰ã«ç´°åˆ†åŒ–ã™ã‚‹ãŸã‚ã®ã‚«ãƒ†ã‚´ãƒªãƒ¼)|
|main_category|åˆ†é¡|len15|object|0|ç¬¬1ã‚«ãƒ†ã‚´ãƒªãƒ¼|
|currency|é€šè²¨ç¨®|len15|object|0|å‹Ÿé›†ã—ãŸé€šè²¨ã®å˜ä½|
|deadline|æ”¯æ´ç· åˆ‡|len3146|object|0|æ”¯æ´é‡‘ã®å…¬å‹ŸæœŸé–“ã®ç· åˆ‡æ—¥|
|goal|ç›®æ¨™é‡‘é¡ã€€||float64|0|ç›®æ¨™å…¬å‹Ÿé‡‘é¡|
|launched|å…¬é–‹æ—¥|len378089|object|0|é–‹å§‹ã•ã‚ŒãŸæ—¥æ™‚ |
|pledged|æ”¯æ´é‡‘é¡||float64|0|å…¬å‹Ÿã•ã‚ŒãŸé‡‘é¡|
|state|é”æˆçŠ¶æ³|'failed','successful','canceled','undefined','live','suspended'	|object|0|ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆã®è³‡é‡‘èª¿é”ãŒç›®æ¨™é¡ã«åˆ°é”ã—ãŸã‹ã©ã†ã‹ã®æˆåŠŸå¯å¦|
|backers|æ”¯æ´è€…æ•°||int64|0||
|country|å›½|len23|object|0|ã©ã®å›½ã®ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆã‹ã€€è¡¨è¨˜ã¯US GBãªã©ã§ã‚«ãƒ†ã‚´ãƒª|
|usd pledged|ãƒ‰ãƒ«å¤‰æ›æ”¯æ´é‡‘é¡(kickstarter)	||float64|3797|KICKSTARTERé‹å–¶å´ãŒãƒ‰ãƒ«æ›ç®—ã—ãŸã€å…¬å‹Ÿã•ã‚ŒãŸé‡‘é¡|
|usd_pledged_real |ãƒ‰ãƒ«å¤‰æ›æ”¯æ´é‡‘é¡(Fixer.io)	||float64|0|[Fixer.io API](https://www.techpit.jp/courses/30/curriculums/31/sections/264/parts/906#:~:text=usd_pledged_real-,Fixer.io%20API,-%E3%82%92%E5%88%A9%E7%94%A8%E3%81%97) ã‚’åˆ©ç”¨ã—ã¦ãƒ‰ãƒ«æ›ç®—ã—ãŸã€å…¬å‹Ÿã•ã‚ŒãŸé‡‘é¡|
|usd_goal_real | ãƒ‰ãƒ«å¤‰æ›ç›®æ¨™é‡‘é¡	||float64|0|[Fixer.io API](https://www.techpit.jp/courses/30/curriculums/31/sections/264/parts/906#:~:text=usd_pledged_real-,Fixer.io%20API,-%E3%82%92%E5%88%A9%E7%94%A8%E3%81%97)ã‚’åˆ©ç”¨ã—ã¦ãƒ‰ãƒ«æ›ç®—ã—ãŸã€ç›®æ¨™å…¬å‹Ÿé‡‘é¡|

# 2ç« -2 ãƒ‡ãƒ¼ã‚¿ã‚¯ãƒ¬ãƒ³ã‚¸ãƒ³ã‚°ã€€ã‚«ãƒ©ãƒ ã®åå‰å¤‰æ›´ã€æ¶ˆå»ã€æ¬ æå‡¦ç† pit-1-branch

## 2-2-2.ä¸è¦ãªã‚«ãƒ©ãƒ ã‚’æ¶ˆå»ã™ã‚‹

In [ ]:
df.head(3)

                                            name  ... usd_goal_real
0                The Songs of Adelaide & Abullah  ...       1533.95
1  Greeting From Earth: ZGAC Arts Capsule For ET  ...      30000.00
2                                 Where is Hank?  ...      45000.00

[3 rows x 11 columns]

In [ ]:
df.drop(['ID','goal','pledged','usd pledged'],axis=1)

In [ ]:
df

                                                     name  ... usd_goal_real
0                         The Songs of Adelaide & Abullah  ...       1533.95
1           Greeting From Earth: ZGAC Arts Capsule For ET  ...      30000.00
2                                          Where is Hank?  ...      45000.00
3       ToshiCapital Rekordz Needs Help to Complete Album  ...       5000.00
4       Community Film Project: The Art of Neighborhoo...  ...      19500.00
...                                                   ...  ...           ...
378656  ChknTruk Nationwide Charity Drive 2014 (Canceled)  ...      50000.00
378657                                          The Tribe  ...       1500.00
378658  Walls of Remedy- New lesbian Romantic Comedy f...  ...      15000.00
378659                           BioDefense Education Kit  ...      15000.00
378660                  Nou Renmen Ayiti!  We Love Haiti!  ...       2000.00

[378661 rows x 11 columns]

* axis=ã¨ã¯ï¼Ÿ
* dropã‚’ä½¿ã£ãŸãƒ‡ãƒ¼ã‚¿ã¯è¡¨ç¤ºãŒå¤‰ã‚ã‚‹ã ã‘ã§ã€ãƒ‡ãƒ¼ã‚¿è‡ªä½“ã«å¤‰æ›´ã¯ãªã„ã€‚å¤‰æ•°ã«ä»£å…¥ã—ãŸã¨ãã«dfã®ä¸­èº«ãŒå¤‰ã‚ã‚‹ã€‚ç¬¬3å¼•æ•°ã«inplace=Trueã‚’ä»£å…¥ã§ã‚‚dfã«å†ä»£å…¥ã•ã‚ŒãŸã®ã¨åŒã˜ãã€ä¸­èº«ãŒæ›´æ–°ã•ã‚Œã‚‹ã€‚

## 2-2-3-.ã‚«ãƒ©ãƒ åã®å¤‰æ›´

**è«–ç†åã‚’ç‰©ç†åã«ç½®ãæ›ãˆ**

In [ ]:
df = df.rename(columns = {'name': 'PJå', 'category': 'ç¬¬2ã‚«ãƒ†ã‚´ãƒªãƒ¼', 'main_category': 'ç¬¬1ã‚«ãƒ†ã‚´ãƒªãƒ¼', 'currency': 'é€šè²¨', 'deadline': 'ç· åˆ‡æ—¥', 'launched': 'é–‹å§‹æ—¥', 'state': 'æˆå¦', 'backers': 'æ”¯æ´è€…æ•°', 'country': 'å›½', 'usd_pledged_real': 'æ”¯æ´é¡', 'usd_goal_real': 'ç›®æ¨™é¡'})

In [ ]:
df.head(5)

## 2-2-4.æ¬ æãƒ‡ãƒ¼ã‚¿ã®ç¢ºèª

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   PJå      378657 non-null  object
 1   ç¬¬2ã‚«ãƒ†ã‚´ãƒªãƒ¼  378661 non-null  object
 2   ç¬¬1ã‚«ãƒ†ã‚´ãƒªãƒ¼  378661 non-null  object
 3   é€šè²¨       378661 non-null  object
 4   ç· åˆ‡æ—¥      378661 non-null  object
 5   é–‹å§‹æ—¥      378661 non-null  object
 6   æˆå¦       378661 non-null  object
 7   æ”¯æ´è€…æ•°     378661 non-null  int64
 8   å›½        378661 non-null  object
 9   æ”¯æ´é¡      378661 non-null  float64
 10  ç›®æ¨™é¡      378661 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 31.8+ MB

In [ ]:
df.shape

(378661, 11)

å…¨ä½“æ•°ãŒã‚ã‹ã‚‹ã€‚
ã‚‚ã£ã£ã¨ç°¡æ˜“çš„ã«æ¬ æå€¤ã‚’ã¿ãŸã„å ´åˆã¯ä»¥ä¸‹

In [ ]:
df.isnull().sum()

PJå        4
ç¬¬2ã‚«ãƒ†ã‚´ãƒªãƒ¼    0
ç¬¬1ã‚«ãƒ†ã‚´ãƒªãƒ¼    0
é€šè²¨         0
ç· åˆ‡æ—¥        0
é–‹å§‹æ—¥        0
æˆå¦         0
æ”¯æ´è€…æ•°       0
å›½          0
æ”¯æ´é¡        0
ç›®æ¨™é¡        0
dtype: int64

In [ ]:
# å¦¥å½“æ€§ã‚‚è€ƒæ…®ã—ã¦ã€å‰²åˆã§è¦‹ã‚‹ãªã‚‰
1-(df.isnull().sum()/378661)

#### æ–‡æ³•:ã‚«ãƒ©ãƒ ã«ã¤ã„ã¦è©³ã—ãè¦‹ã‚‹ æ¬ æã®ã¿è¡¨ç¤ºã™ã‚‹

In [ ]:
df['PJå'].isnull()
# ã“ã®ä¸­ã§æ¬ æã—ã¦ã„ã‚‹ã“ã¨ã‚’ç¤ºã™Trueã®è¡Œã®ã¿ã‚’è¡¨ç¤ºã•ã›ãŸã„å ´åˆã€ä¸‹è¨˜ã‚³ãƒ¼ãƒ‰ã‚’å®Ÿè¡Œã—ã¾ã™ã€‚

In [ ]:
df[df['PJå'].isnull()]

        PJå         ç¬¬2ã‚«ãƒ†ã‚´ãƒªãƒ¼       ç¬¬1ã‚«ãƒ†ã‚´ãƒªãƒ¼   é€šè²¨  ... æ”¯æ´è€…æ•°   å›½     æ”¯æ´é¡        ç›®æ¨™é¡
166851  NaN  Narrative Film  Film & Video  USD  ...    1  US  100.00  200000.00
307234  NaN     Video Games         Games  GBP  ...   12  GB  316.05    3224.97
309991  NaN  Product Design        Design  USD  ...    0  US    0.00    2500.00
338931  NaN        Painting           Art  USD  ...    5  US  220.00   35000.00

[4 rows x 11 columns]



```
ğŸŸ¡ã“ã“ã®è€ƒãˆæ–¹ã‚ã‹ã‚‰ãªã„
ã€€ã€€ã€€ã‹ã£ã“ã®æ„å‘³ã¯ï¼Ÿãã‚Œãã‚Œã®é•ã„ã¯ï¼Ÿ

```

## 2-2-5.æ¬ æãƒ‡ãƒ¼ã‚¿ã‚’ã©ã†å‡¦ç†ã™ã¹ãã‹è€ƒãˆã‚‹

ç¾åœ¨ã€PJåã®ã‚«ãƒ©ãƒ ã«æ¬ æå€¤ãŒã‚ã‚‹
æ–¹æ³•ã¨ã—ã¦ã¯

1.   è£œã†
2.   æ¶ˆå»

åˆ¤æ–­ã®åŸºæº–ã¯ã«ã¤ã„ã¦

*ãƒ‡ãƒ¼ã‚¿åˆ†æè€…æœ¬äººã«ã‚´ãƒ¼ãƒ«ã¾ã§ã®é“ç­‹ãŒé§„ã­ã‚‰ã‚Œã¦ã„ã‚‹*

**ç›®æ¨™ã€ã‚´ãƒ¼ãƒ«ã‚’æ˜ç¢ºã«ã™ã‚‹ã¨**

> ã€Œã‚¯ãƒ©ã‚¦ãƒ‰ãƒ•ã‚¡ãƒ³ãƒ‡ã‚£ãƒ³ã‚°ã§ã®è³‡é‡‘èª¿é”æˆåŠŸãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆã®ç‰¹å¾´ã€ã‚‚ã—ãã¯è³‡é‡‘èª¿é”å¤±æ•—ãƒ—ãƒ­ã‚¸ã‚§ã‚¯ãƒˆã®ç‰¹å¾´ã‚’æ´ã‚€ã€


ãã‚Œã‚’è¸ã¾ãˆã¦ã€

```
df[df['PJå'].isnull()]
```
ã§ãƒ‡ãƒ¼ã‚¿ã®ä¸­èº«ã‚’ç¢ºèªã—ãŸã€‚
åå‰è‡ªä½“ã«æ„å‘³ã¯ãªãã€ä»–ã®ãƒ‡ãƒ¼ã‚¿ãŒç›®æ¨™ã«å‘ã‘ã¦ã¯ååˆ†ä½¿ãˆã‚‹ã‚‚ã®ã¨ãªã£ã¦ã„ã‚‹ãŸã‚
**ã€Œè£œã£ã¦ä½¿ã†ã¹ãã€**ã€‚


---

```
è£œè¶³ã€æ€ã£ãŸã“ã¨
  ã‚ã¾ã‚Šé–¢ä¿‚ãªã„ãŒã€PJåã‚’ã¡ã‚ƒã‚“ã¨è¨­å®šã—ã¦ã„ãªã„å ´åˆã®é”æˆç‡ã¨ã‹ã‚’åˆ†æã—ãŸã„ãªã‚‰ã€è£œã†PJåã‚’ã€ŒPJåãŒãªã„ã®ã¯ã‚„ã‚‹æ°—ãªã„ï¼Ÿã€ãªã©ä»®è¨­ã‚’ã¶ã£ã“ã‚“ã©ãã¨æƒ³èµ·ã§ãã¦ã„ã„ã‹ã‚‚

  ãã—ã¦ä»Šã¯å››ä»¶ã—ã‹ãªã„ãŸã‚ã€ã‚‚ã£ã¨é›†ã‚ã¦æ¥ã‚‹ã‹ã€PJåãŒã‹ã¶ã£ã¦ã„ã‚‹ã‚‚ã®ã§åˆ†æã®ã§ããã†ã€‚
```

## 2-2-6.æ¬ æéƒ¨ã«å€¤ã‚’ä»£å…¥

In [ ]:
df['PJå'].fillna('no_name')

# ã“ã‚Œã¯ä¸­èº«ã®å¤‰æ›´ã‚’åæ˜ ã•ã›ã‚‰ã‚Œã¦ã„ã‚‹ã‹ã®ç¢ºèªãŒã§ãã‚‹ã ã‘ã€‚ä¸­èº«ã®å¤‰æ›´ã¯ã•ã‚Œãªã„ã€‚

0                           The Songs of Adelaide & Abullah
1             Greeting From Earth: ZGAC Arts Capsule For ET
2                                            Where is Hank?
3         ToshiCapital Rekordz Needs Help to Complete Album
4         Community Film Project: The Art of Neighborhoo...
                                ...
378656    ChknTruk Nationwide Charity Drive 2014 (Canceled)
378657                                            The Tribe
378658    Walls of Remedy- New lesbian Romantic Comedy f...
378659                             BioDefense Education Kit
378660                    Nou Renmen Ayiti!  We Love Haiti!
Name: PJå, Length: 378661, dtype: object

In [ ]:
# ä¸­èº«ã‚’ç¢ºèª
df.loc[[166851, 307234, 309991, 338931]]

        PJå         ç¬¬2ã‚«ãƒ†ã‚´ãƒªãƒ¼       ç¬¬1ã‚«ãƒ†ã‚´ãƒªãƒ¼   é€šè²¨  ... æ”¯æ´è€…æ•°   å›½     æ”¯æ´é¡        ç›®æ¨™é¡
166851  NaN  Narrative Film  Film & Video  USD  ...    1  US  100.00  200000.00
307234  NaN     Video Games         Games  GBP  ...   12  GB  316.05    3224.97
309991  NaN  Product Design        Design  USD  ...    0  US    0.00    2500.00
338931  NaN        Painting           Art  USD  ...    5  US  220.00   35000.00

[4 rows x 11 columns]

In [ ]:
# ä¸­èº«ã‚’å¤‰æ›´
df['PJå'] = df['PJå'].fillna('no_name')

```
`df ï¼ã€€ `ã˜ã‚ƒãƒ€ãƒ¡ãªã®ã‹ï¼Ÿ
fillnaã®ãƒ¡ã‚½ãƒƒãƒ‰ã®åæ˜ ã®å‹•ããŒã‚ã‹ã‚‰ãªã„

In [ ]:
df.loc[[166851, 307234, 309991, 338931]]

            PJå         ç¬¬2ã‚«ãƒ†ã‚´ãƒªãƒ¼       ç¬¬1ã‚«ãƒ†ã‚´ãƒªãƒ¼   é€šè²¨  ... æ”¯æ´è€…æ•°   å›½     æ”¯æ´é¡        ç›®æ¨™é¡
166851  no_name  Narrative Film  Film & Video  USD  ...    1  US  100.00  200000.00
307234  no_name     Video Games         Games  GBP  ...   12  GB  316.05    3224.97
309991  no_name  Product Design        Design  USD  ...    0  US    0.00    2500.00
338931  no_name        Painting           Art  USD  ...    5  US  220.00   35000.00

[4 rows x 11 columns]

ğŸŸ¡[[]]ã«ãªã£ã¦ã‚‹ãŒã€ã“ã“ã®æ‰ãˆæ–¹ã‚ˆãã‚ã‹ã‚‰ã‚“

In [ ]:
# ä¸­èº«ã®ç¢ºèª
# df.isnullã§ã¯true faulsãŒå¸°ã£ã¦ãã‚‹ã ã‘ã®ãŸã‚ä»¥ä¸‹ã§å®Ÿè¡Œ
df.isnull().sum()

PJå        0
ç¬¬2ã‚«ãƒ†ã‚´ãƒªãƒ¼    0
ç¬¬1ã‚«ãƒ†ã‚´ãƒªãƒ¼    0
é€šè²¨         0
ç· åˆ‡æ—¥        0
é–‹å§‹æ—¥        0
æˆå¦         0
æ”¯æ´è€…æ•°       0
å›½          0
æ”¯æ´é¡        0
ç›®æ¨™é¡        0
dtype: int64

# 2-3 ãƒ‡ãƒ¼ã‚¿ã‚¯ãƒ¬ãƒ³ã‚¸ãƒ³ã‚° ä¸è¦ãƒ‡ãƒ¼ã‚¿ã®æ¶ˆå»

## 2-3-1 ç¬¬2ã‚«ãƒ†ã‚´ãƒªãƒ¼ã‚«ãƒ©ãƒ ã®ãƒ‡ãƒ¼ã‚¿ã‚¯ãƒ¬ãƒ³ã‚¸ãƒ³ã‚°

In [ ]:
df['ç¬¬2ã‚«ãƒ†ã‚´ãƒªãƒ¼']
# ã“ã‚Œã¯é‡è¤‡ãŒã‚ã‚‹ã€‚ï¼‘å¯¾ï¼‘ã§ãƒ‡ãƒ¼ã‚¿ãŒå‡ºã¦ãã‚‹

0                  Poetry
1          Narrative Film
2          Narrative Film
3                   Music
4            Film & Video
               ...
378656        Documentary
378657     Narrative Film
378658     Narrative Film
378659         Technology
378660    Performance Art
Name: ç¬¬2ã‚«ãƒ†ã‚´ãƒªãƒ¼, Length: 378661, dtype: object

#### setãƒ¡ã‚½ãƒƒãƒ‰

In [ ]:
set(df['ç¬¬2ã‚«ãƒ†ã‚´ãƒªãƒ¼'])

{'3D Printing',
 'Academic',
 'Accessories',
 'Action',
 'Animals',
 'Animation',
 'Anthologies',
 'Apparel',
 'Apps',
 'Architecture',
 'Art',
 'Art Books',
 'Audio',
 'Bacon',
 'Blues',
 'Calendars',
 'Camera Equipment',
 'Candles',
 'Ceramics',
 "Children's Books",
 'Childrenswear',
 'Chiptune',
 'Civic Design',
 'Classical Music',
 'Comedy',
 'Comic Books',
 'Comics',
 'Community Gardens',
 'Conceptual Art',
 'Cookbooks',
 'Country & Folk',
 'Couture',
 'Crafts',
 'Crochet',
 'DIY',
 'DIY Electronics',
 'Dance',
 'Design',
 'Digital Art',
 'Documentary',
 'Drama',
 'Drinks',
 'Electronic Music',
 'Embroidery',
 'Events',
 'Experimental',
 'Fabrication Tools',
 'Faith',
 'Family',
 'Fantasy',
 "Farmer's Markets",
 'Farms',
 'Fashion',
 'Festivals',
 'Fiction',
 'Film & Video',
 'Fine Art',
 'Flight',
 'Food',
 'Food Trucks',
 'Footwear',
 'Gadgets',
 'Games',
 'Gaming Hardware',
 'Glass',
 'Graphic Design',
 'Graphic Novels',
 'Hardware',
 'Hip-Hop',
 'Horror',
 'Illustration',
 'Immersive',
 'Indie Rock',
 'Installations',
 'Interactive Design',
 'Jazz',
 'Jewelry',
 'Journalism',
 'Kids',
 'Knitting',
 'Latin',
 'Letterpress',
 'Literary Journals',
 'Literary Spaces',
 'Live Games',
 'Makerspaces',
 'Metal',
 'Mixed Media',
 'Mobile Games',
 'Movie Theaters',
 'Music',
 'Music Videos',
 'Musical',
 'Narrative Film',
 'Nature',
 'Nonfiction',
 'Painting',
 'People',
 'Performance Art',
 'Performances',
 'Periodicals',
 'Pet Fashion',
 'Photo',
 'Photobooks',
 'Photography',
 'Places',
 'Playing Cards',
 'Plays',
 'Poetry',
 'Pop',
 'Pottery',
 'Print',
 'Printing',
 'Product Design',
 'Public Art',
 'Publishing',
 'Punk',
 'Puzzles',
 'Quilts',
 'R&B',
 'Radio & Podcasts',
 'Ready-to-wear',
 'Residencies',
 'Restaurants',
 'Robots',
 'Rock',
 'Romance',
 'Science Fiction',
 'Sculpture',
 'Shorts',
 'Small Batch',
 'Software',
 'Sound',
 'Space Exploration',
 'Spaces',
 'Stationery',
 'Tabletop Games',
 'Taxidermy',
 'Technology',
 'Television',
 'Textiles',
 'Theater',
 'Thrillers',
 'Translations',
 'Typography',
 'Vegan',
 'Video',
 'Video Art',
 'Video Games',
 'Wearables',
 'Weaving',
 'Web',
 'Webcomics',
 'Webseries',
 'Woodworking',
 'Workshops',
 'World Music',
 'Young Adult',
 'Zines'}

#### lenãƒ¡ã‚½ãƒƒãƒ‰
ã‚«ãƒ©ãƒ ã‚’é…åˆ—ã¨ã—ã¦ã¿ãŸæ™‚ã®é•·ã•ãŒã‚ã‹ã‚‹ã€‚

infoã¨ã®é•ã„ã¯ï¼Ÿ

In [ ]:
len(set(df['ç¬¬2ã‚«ãƒ†ã‚´ãƒªãƒ¼']))

159

In [ ]:
df

## 2-3-2 ç¬¬1ã‚«ãƒ†ã‚´ãƒªãƒ¼ã‚«ãƒ©ãƒ ã®ãƒ‡ãƒ¼ã‚¿ã‚¯ãƒ¬ãƒ³ã‚¸ãƒ³ã‚°

## 2-3-3 é€šè²¨ã‚«ãƒ©ãƒ ã®ãƒ‡ãƒ¼ã‚¿ã‚¯ãƒ¬ãƒ³ã‚¸ãƒ³ã‚°